table.my_table {
font-family: ‘Arial’, sans-serif;
  font-size: 12px;
  /*margin: 0 0 40px 0;*/
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
.my_table tr {
  display: table-row;
  background: #f6f6f6;
}
.my_table tr:hover {
  display: table-row;
  background: #2980b9 !important;
  color:white;
}
tr:nth-of-type(odd) {
  background: #e9e9e9;
}
.my_table tr.header {
  font-family: ‘Arial Narrow’, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  background: #2980b9 !important;
}
.my_table td {
  padding: 4px 7px;
  display: table-cell;
}